/**
 * Базовые стили для всего сайта
 */
body {
	position: relative;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #000;
	min-width: 320px;
	overflow-x: hidden;
	height: auto;
	background-color: grey;
}


/**
 * Другие стили
 */

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transition: all .2s ease-out;
}

.modal.show{
    visibility: visible;
    z-index: 100;
    opacity: 1;
}

.modal.show .modal.window{
    margin-top: 0;
}

.modal .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity; 0.7;
    z-index: 0;
}

.modal-window{
    position: relative;
    z-index: 2;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0, 0.4);
    background-color: white;
    padding: 30px;
    transition: inherit;
    display: flex;
    flex-direction: row;
    flex-grow: initial;
    justify-content: center;
}

.btn-close{
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    background: none;
    opacity: 0.7;
}

.btn-close: hover {
    opacity: 1;
}

.content{
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    align-items: stretch;

}
.login-btn1 {
    display: flex;
    flex-direction: row;
    flex-grow: initial;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 56px;
    color: #ffffff;
    background: #283a97;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    cursor: pointer;
    margin: 20px;
}

.login-btn2 {
    display: flex;
    flex-direction: row;
    flex-grow: initial;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 56px;
    color: #ffffff;
    background: #283a97;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    cursor: pointer;
    margin: 20px;
}